*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins, sans-serif";
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #D7B9FF;
    background-size: cover;
    background-position: center;
}
.contact-page{
    flex: 100%;
    direction: rtl;
    flex-wrap: wrap;
    background-color: #D7B9FF;
    backdrop-filter: blur(20px);
    color: black;
    padding: 20px 20px 30px 50px;
}
.contact-page h3{
    font-size: 36px;
    text-align: right;
    margin-top: 80px;
    margin-right: 20px;
    color: var(--purple-10);
    
}
.contact-page .input-contact{
    width: 50%;
    direction: rtl;
    padding: 20px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;   
}
 .input-contact input{
    text-align: right;
    width: 400px;
    height: 60px;
    background-color: transparent;
    outline: none;
    border: 2px solid #2a004f;
    border-radius: 40px;
    font-size: 16px;  
    padding: 20px 20px 20px 0px;    
 }
 .input-contact .contact{
     color: #2a004f;
     font-size: 20px ;
     margin-right: 20px;
     
 }
 .contact-page .btn{
    width: 150px;
    height: 45px;
    background-color: var(--purple-10);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer ;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-right: 850px;
   }
   .contact-page .btn:hover{
    background-color: var(--purple-8);
   }
   .contact-page .pcontact textarea {
   width: 500px;
    color: black;
    font-size: 15px;
    text-align: right;
   }
   .contact-page .pcontact{
    width: 50%;
    position: absolute;
    display: flex;  
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 50%;
    top: 32%;
   }
   .pcontact .contact{
      color: #2a004f;
     font-size: 20px ;
   }