body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

/* projects page */

.projects-page{
    background: linear-gradient(135deg, #b784f7, #c79cff);
    padding: 40px;
        margin-top: 78px;
}

/* container */

.container{
    padding-right: 20px;
    padding-left: 20px;
}

/* hero */

.project-hero{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    margin-bottom: 40px;
}

.hero-buttons{
    padding: 12px 22px;

    border: none;
    border-radius: 5px;

    background-color: #7b2ff7;
    color: white;

    cursor: pointer;

    font-size: 28px;
    font-weight: 700;

    transition: 0.3s;
}

.hero-buttons:hover{
    background-color: #6920df;

    transform: translateY(-2px);

    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.hero-text{
    font-size: 40px;
    font-weight: 800;

    color: #111;
}

/* filters */

.projects-filters{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;
}

.filters-right{
    display: flex;
    gap: 12px;
}

.filters-left{
    margin-right: auto;
}

.project-button{
    padding: 14px 24px;

    border: none;
    border-radius: 5px;

    background-color: white;

    cursor: pointer;

    font-size: 22px;
    font-weight: 600;

    transition: 0.3s;
}

.project-button:hover{
    background-color: #7b2ff7;
    color: white;

    transform: translateY(-2px);
}

/* grid */

.projects-grid{
    display: grid;

    grid-template-columns: repeat(3, 400px);

    justify-content: center;

    gap: 30px;

    margin-top: 40px;
        margin-bottom: 80px;

}

/* card */

.project-card{
    background-color: white;

    padding: 15px;

    border-radius: 5px;

    text-align: center;

    box-shadow: 0 10px 25px rgba(0,0,0,0.12);

    transition: 0.3s;

    width: 400px;
}

.project-card:hover{
    transform: translateY(-6px);

    box-shadow: 0 15px 35px rgba(0,0,0,0.18);
}

.project-card h2{
    font-size: 28px;

    margin-top: 15px;
    margin-bottom: 10px;

    color: #111;
}

.project-card h3{
    font-size: 18px;

    color: #666;

    margin-bottom: 18px;
}

/* image */

.project-img{
    overflow: hidden;

    border-radius: 5px;
}

.project-img img{
    width: 100%;

    height: 250px;

    object-fit: cover;

    border-radius: 5px;

    transition: 0.4s;
}

.project-card:hover img{
    transform: scale(1.05);
}

/* card button */

.card-buttons{
    margin-top: 10px;

    padding: 12px 20px;

    border: none;

    border-radius: 5px;

    background-color: #7b2ff7;

    color: white;

    font-size: 18px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;
}

.card-buttons:hover{
    background-color: #6920df;

    transform: translateY(-2px);
}
.card-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.card-details span{
    display: flex;
    align-items: center;
    gap: 6px;
}